{% extends 'base.html' %} {% block content %}
<div class="container">
  </br><br />
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <center>
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            {% if product.is_sale %}
            <div class="d-flex justify-content-center small text-warning mb-2">
              <div class="bi-star-fill"></div>
              &nbsp;&nbsp;Sale!&nbsp;&nbsp;
              <div class="bi-star-fill"></div>
            </div>
            <!-- Product price-->
            <strike> ${{ product.price }} </strike>
            &nbsp ${{ product.sale_price }}
            {% else %}
            ${{ product.price }}
            {% endif %}
            <br /></br>
            <div class="row justify-content-center">
              <div class="col-md-2">
                Quantity:
              </div>
              <div class="col-md-2">
                <select class="form-select form-select-sm" id="qty-cart">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>
            <br /></br>
            <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
            <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-cart">Add To Cart</button>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>
</br><br />

<script>
  // check if button pressed
  // attack a click event listener to the button with id 'add-cart'
  $(document).on('click', '#add-cart', function (e) {
    // prevent the default button action (form submission)
    e.preventDefault();
    // perform an AJAX POST request to the URL ampepdto the 'cart_add' view
    $.ajax({
      type: 'POST',
      url: "{% url 'cart_add' %}",
      data: {
        // data sent with the request
        product_id: $('#add-cart').val(), // product ID of the item to add
        product_qty: $('#qty-cart option:selected').text(), // selected quantity
        csrfmiddlewaretoken: '{{ csrf_token }}', // token for sec
        action: 'post' // indicated the type of action being performed
      },
      success: function (json) {
        // console.log(json) 
        // update the cart quantity displayed on the page with the new quantity
        document.getElementById("cart_quantity").textContent = json.qty
        // reload to relfect changes
        location.reload();
      },
      error: function (xhr, errmsg, err) {

      }
    });
  })


</script>



{% endblock %}