{% extends 'base.html' %} {% block content %}

<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About Us...</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Welcome to the dummy e-commerce site!
      </p>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <br /></br>
        <p align="justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
          rutrum mi dolor, vehicula sagittis tellus ultricies id. Vivamus orci
          ante, fringilla at laoreet ut, malesuada pretium odio. Morbi feugiat
          accumsan fermentum. Etiam orci risus, imperdiet sit amet laoreet et,
          posuere vitae odio. Etiam in nulla fermentum, tincidunt quam quis,
          accumsan ligula. Morbi sollicitudin ipsum ac velit accumsan, sed viverra
          felis ultrices. Mauris nisi arcu, sollicitudin quis sapien vel, pulvinar
          luctus urna. Donec cursus purus quis tincidunt aliquet. Nulla arcu eros,
          convallis id fermentum nec, tempor ac mauris. Morbi consectetur magna
          neque, at tristique eros consequat vel.
          <br /></br>
          Nulla ultrices, felis non
          hendrerit luctus, sapien purus volutpat nunc, id fermentum arcu diam et
          odio. Sed feugiat tellus ut porta consectetur. Nullam tincidunt tellus
          ut nulla laoreet, id semper ex tincidunt. Pellentesque sodales orci
          justo, eget tincidunt augue convallis vitae. Morbi augue mi, pulvinar
          vitae neque in, rutrum congue sapien. Duis eget leo metus. Morbi luctus
          interdum urna at porttitor.
          <br /></br>
          Suspendisse a massa vel nisl tempor feugiat.
          Donec sit amet justo tellus. Nulla sed lorem vel mi aliquet pellentesque
          vitae et eros. Proin vitae molestie velit. Etiam sit amet leo vel sapien
          fermentum posuere. Etiam ullamcorper elit sed ipsum ullamcorper
          bibendum. Curabitur lacinia egestas lectus, ac eleifend libero tempor
          ac. Ut at erat vel lectus semper viverra sed eu quam. Cras a tincidunt
          ex. Cras tristique interdum efficitur. Vivamus id augue magna. In
          lacinia ac dui sed venenatis. Ut pretium diam eros, quis vehicula ante
          aliquam quis. Suspendisse ullamcorper tristique metus sed fermentum.
          Nullam molestie et turpis sed tristique. Nullam malesuada fringilla
          felis, ut facilisis felis convallis sed.
        </p>
        <br /></br>
      </div>
    </center>
  </div>
</div>

{% endblock %}