{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Your Wishlist</h1>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br /></br>


                {% for item in items %}
                <div class="col d-flex justify-content-between">
                    <div>
                        {{ item.product.name }}
                        <a href="{% url 'remove_from_wishlist' item.product.id %}">Remove</a>
                    </div>
                </div>

                {% empty %}
                <li>Your wishlist is empty.</li>
                {% endfor %}



                <br /></br>
            </div>
        </center>
    </div>
</div>
<br /></br><br /></br><br /></br><br /></br><br /></br><br /></br><br /></br><br /></br><br /></br><br /></br><br /></br><br /></br><br /></br><br /></br><br /></br><br /></br>



{% endblock %}